.clockpicker>.input-group-addon{
    background-color: #55B3B9;
    border: 1px #55B3B9 solid;
    color: white;
}

.clockpicker {
    width: 100%;
}

.clockpicker-button{
    background-color: #55B3B9;
    color: white;
}

.clockpicker-button:hover{
    border: 0px #55B3B9 solid;
    border-top: 1px #55B3B9 solid;
}

.clockpicker-span-hours,
.clockpicker-button:hover {
    color: #55B3B9;
}

.clockpicker-popover>.popover-content,
.clockpicker-button:hover{
    background-color: whitesmoke;
}

.clockpicker-plate {
    background-color: white;
    border: 0px;
}

.clockpicker-popover {
    z-index: 100000;
}