.cartohoraires-panel {
    position: fixed;
    right: 0px;
    width: 600px;
    background-color: white;
    height: 100%;
}

.cartohoraires-panel>.panel-body{
    padding-top:50px;
}

.cartohoraires-template{
    padding-top:10px;
}