/** Import des fonts **/

@font-face {
    font-family: 'VistaSansOT_black';
    src: url('../../../../site_internet/css/font/Vista_Sans-OT/VistaSansOT-Black.otf');
}
@font-face {
    font-family: 'VistaSansOT_bold';
    src: url('../../../../site_internet/css/font/Vista_Sans-OT/VistaSansOT-Bold.otf');
}
@font-face {
    font-family: 'VistaSansOT_regular';
    src: url('../../../../site_internet/css/font/Vista_Sans-OT/VistaSansOT-Reg.otf');
}

/** Déclaration des propriétés de styles sous forme de variables **/
/* Fonts */
:root {
	--font_regular: 'VistaSansOT_regular', Arial, sans-serif;
	--font_bold: 'VistaSansOT_bold', Arial, sans-serif;
	--font_black: 'VistaSansOT_black', Arial, sans-serif;
}

/* Colors */
:root {
	--bleu: #36334F;
	--turquoise: #57B3B9;
	--jaune: #F1BD68;	
}

/* ------ */  

.cartohoraires-panel {
    position: fixed;
    right: 0px;
    width: 40%;
    background-color: white;
	height: 100%;
	overflow: auto;
	max-height: 100%;
	
}

.cartohoraires-panel>.panel-body{
    padding-top:50px;
}

.cartohoraires-template{
    padding-top:10px;
}

/**
* ADRESS - SIRENE SEARCH FIELD
*/
.search-picto{
    border-right: none;
	color:white;
	background-color: var(--turquoise);
	border:none;
}
.search-input,.search-input:focus{
    border-left: none;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: rgb(238,238,238);
	color: #777!important;
}

.search-picto,.search-input{
	border-color: transparent;
}

#search-radio{
	padding: 5px 15px;
}

#ch-sirene{
	margin-left: 10px;
}

#search-input a{
	color: #777;
}

#search-input a:hover{
	color: var(--turquoise);
}

/**
* RADIO
*/

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	left: -1px;
	position: relative;
	background-color: var(--turquoise);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}


input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

/**
* TOGGLE BUTTON
* From https://codepen.io/mburnette/pen/LxNxNg
*/

.toggle-zone{
	padding-left:0;
}
#switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 35px;
	height: 20px;
	background: #d1d3d1;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle-label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + .toggle-label {
	background: var(--jaune);
}

#switch:checked + .toggle-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

/* Title ZAE*/

p.Text {
	color: #777;
    font-family: var(--font_regular);
    font-size: 14px;
    margin: 0;
}

p.subText {
    font-size: 12px;
	margin: 0;
	color: #777;
	font-family: var(--font_regular);
	line-height: 1.2;
}

.title-zae .subText {
    font-style: oblique;
}

/**
* TITLE FILTER
*/

.title-zone{
	color: var(--bleu);
    font-family: var(--font_bold);
    font-size: 15px;
    margin: 0px 0px 3px 0px;
}

/**
* AUTOCOMPLETE
*/

.autocomplete-list {
	background-color:#eee;
	position: absolute;
	z-index: 1;
	border: 1px #eeeeee solid;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: fit-content;
	margin: 4px 0px 0px 38px;
	line-height: 1.6;
}

.form-autocomplete {
	margin-bottom: 0px;
}


/*
* TRANSPORT LIST
*/
#modal-select {
	background-color: #eee;
    border: 1px #57b3b900 solid;
    border-radius: 8px;
    margin-top: 10px;
    font-family: var(--font_regular);
    color: #777!important;
}

select#modal-select {
    background-image:
    linear-gradient(45deg, transparent 50%, #ffffff 50%),
    linear-gradient(135deg, #ffffff 50%, transparent 50%),
    linear-gradient(to right, var(--turquoise), var(--turquoise));
    background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
    background-size: 5px 5px,
    5px 5px,
    2.5em 100%;
    background-repeat: no-repeat;
    padding: 0.5em 3.5em 0.5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/**
* BUTTON DAYS
*/
.btn-day {
	background-color: #e4e4e4;
    border: 1px transparent solid;
    height: 3.5em;
    width: 2.5em;
    color: #777;
    font-family: var(--font_regular);
}

.btn-selected, .btn-day:focus, .btn-day:active {
	background-color: #57b3b9;
    color: #ffffff;
    border: 1px #57b3b9 solid;
}


.btn-day:hover {
	background-color: #57b3b9a6;
    border: none;
    color: #f9f9f9;
}

/** TIME SLIDER **/ 
#slider-zone .slider.slider-horizontal {
	margin: 0;
	width: 60%;
}

#slider-zone {
    padding: 20px 0px;
}

#slider-zone .slider-track {
    height: 5px!important;
}

#slider-zone .slider-selection{
	background-color: #ddd!important;
    background-image: none;
}

#slider-zone .slider-track-high {
    background: #ddd;
}

#slider-zone .slider-handle.min-slider-handle.round {
    background: var(--turquoise);
    width: 15px;
	height: 15px;
	box-shadow: 0px 0px 13px 4px rgba(87, 179, 185, 0.6);
	-moz-box-shadow: 0px 0px 13px 4px rgba(87, 179, 185, 0.6);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(87, 179, 185, 0.6);
}

#slider-info {
    background-color: var(--turquoise);
    padding: 6px 10px;
    border-radius: 4px;
    margin: 0px 0px 0px 10px;
    color: white;
    font-family: var(--font_regular);
}

/** DATAVISUALISATION **/

#titleDataV h4 {
    font-size: 20px;
}



/**
* INFOS ICONS
*/
#recapInfos {
    font-family: var(--font_regular);
    color: #777;
}

.infos {
	margin-right:20px;
}

.infos>i {
	padding-right:5px;
}

/* GRAPH */
#panelGraph .panel-heading.no-border {
	background-color: #f2f2f2;
	padding: 15px 25px 0px;
}

#panelGraph {
    background-color: #eeec;
}

p.titleGraph {
    font-family: var(--font_bold);
    color: #777;
    font-size: 15px;
    margin: 0;
}

p.subtitleGraph {
    font-family: var(--font_regular);
    color: #777;
    font-size: 12px;
    margin: 0;
}

/* EMPTY GRAPH */

i.emptyGraph {
    color: #56b3ba;
    font-size: 18px;
    background-color: #56b3ba73;
    padding: 10px 12px;
    border-radius: 4px;
}

.subText.emptyGraph {
    font-family: var(--font_regular);
    color: #999;
    font-size: 13px;
}

/**
* CARD INFO - NUMBERKEYS
*/
.cardNumber{
	padding:0px;
}

.card-info {
	background-color: #eeec;
	border: 1px transparent solid;
	border-radius: 4px;
	padding: 15px;
	font-family: var(--font_regular);
	margin-bottom: 10px;
}

.input-info {
	color: var(--turquoise);
	font-family: var(--font_bold);
	font-size: 16px;
}

.input-number {
	font-size: 30px;
}

.titleNumb {
    font-family: var(--font_regular);
    color: #777;
    margin: 0;
}

.subtitleNumb {
    font-family: var(--font_regular);
    color: #777;
    margin: 0;
    font-size: 11px;
    font-style: oblique;
}

/**
* OTHERS
*/

.top-form {
	margin-bottom: 10px;
	font-family: var(--font_regular);
	color: #777;
}

.no-border{
	border: 1px transparent solid;
}
.no-border>.panel-heading{
	border: 1px transparent solid !important;
}

.row{
	margin-top: 10px;
}


/* HIDE NATIV MVIEWER UI*/

#searchtool, .navbar-form, .navbar-brand.menu-toggle, #sidebar-wrapper, #backgroundlayersbtn, .ol-attribution, .navbar-toggle{
	display:none !important;
}
#map {
	left: 0px;
	margin-left: 0px !important;
}
