
<div class="cartohoraires-template col-sm-12" style="max-height: 70%">

    <div class="col-sm-12 text-center load-panel">
        <div class="loader-sig" id="loader-6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p>Chargement des données ...</p>
    </div>
    <button type="btn" onclick="$('#form-modal').modal('toggle');" class= "formBtn btn btn-default" id="formBtn">
        Je contribue
    </button>
   <!--SEARCH FIELD & SEARCH TYPE RADIO-->
   <div class="row top-form">
      <!--INPUT FIELD-->
      <div class="col-sm-10 col-md-6 autocomplete" id="search-input">
         <div class="form-group form-autocomplete">
            <div class="input-group date" id="ch-searchfield">
               <span class="input-group-addon search-picto">
               <i class="fas fa-search"></i>
               </span>
               <input type="text" id="input-autocomplete" class="form-control search-input input-search input-text" autocomplete="off">
            </div>
         </div>
         <div class="autocomplete-list col-sm-12" style="display:none;"></div>
      </div>
      <!--RADIO-->
      <div class="col-sm-10 col-md-5" id="search-radio">
         <!--RVA-->
         <input type="radio" id="ch-adresse" name="search" value="address">
         <label for="ch-adresse">Adresse</label>
         <!--SIRENE-->
         <input type="radio" id="ch-sirene" name="search" value="sirene" checked="">
         <label for="ch-sirene">Établissement</label>
      </div>
   </div>
   <!--TOGGLE BUTTON-->
    <div class="row col-sm-12 toggle-zone">
        <div class="form-group" style="display: inline-flex;">
            <div class="col-sm-3 col-md-2">
                <input type="checkbox" id="switch">
                <label for="switch" class="toggle-label">Toggle</label>
            </div>
            <div class="title-zae" class="col-sm-8 col-md-9">
                <p class="Text">Afficher les zones d'activité sur la carte</p>
                <p class="subText">Voir uniquement les informations par zone d'activité vue sur la carte</p>
            </div>    
            
      </div>
    </div>
    <!--TIME & TRANSPORT-->
    <div class="row">
        <div class="col-sm-11 col-md-7" style="padding-bottom:10px;">
            <!--DAYS TITLE-->
            <p class="title-zone">Temporalité</p>
            <p class="subText">Visualiser les données sur la carte et les graphiques en fonction de la période sélectionnée</p>
            <br>
            <!--DAYS-->
            <span style="margin-top:10px">
                <button type="button" class="btn btn-default btn-md btn-day btn-selected" day="1" dayName="Lundi">L</button>
                <button type="button" class="btn btn-default btn-md btn-day" day="2" dayName="Mardi">M</button>
                <button type="button" class="btn btn-default btn-md btn-day" day="3" dayName="Mercredi">M</button>
                <button type="button" class="btn btn-default btn-md btn-day" day="4" dayName="Jeudi">J</button>
                <button type="button" class="btn btn-default btn-md btn-day" day="5" dayName="Vendredi">V</button>
                <button type="button" class="btn btn-default btn-md btn-day" day="6" dayName="Samedi">S</button>
                <button type="button" class="btn btn-default btn-md btn-day" day="7" dayName="Dimanche">D</button>
            </span>
            <div id="slider-zone">
                <input id="timeSlider" type="text" data-slider-tooltip="hide"/>
                <span id="slider-info">00 h 00 min</span>
            </div>
        </div>
        <!--MODAL TYPE-->
        <div class="col-sm-10 col-md-5" style="padding-bottom:10px;">
            <p class="title-zone">Mode de transport</p>
            <p class="subText">Filtrer les données sur la carte et les graphiques en fonction du mode de transport sélectionné</p>
            <!--TRANSPORT SELECTOR-->
            <select class="form-control transpor-list" id="modal-select">
                <option value="">Rien à sélectionner...</option>
            </select>
        </div>
    </div>

    <!--GRAPH & INFOS-->
    <div class="row">
        <h4 class="col-sm-12 title-zone">
            Les déplacements sur la zone sélectionnées   
        </h4>
    </div>
    <!--RECAP INFOS-->
    <div class="row">
        <span class="col-sm-12">
            <span class="infos" style="display:none" id="clock-info">
                <i class="fas fa-clock"></i> 
                <span id="datetime-info">Mercredi - 8:00</span>
            </span>
            <span class="infos" style="display:none" id="transport-info">
                <i class="fas fa-car"></i> 
                <span id="mode-info">Voiture</span>
            </span>
            <span class="infos" style="display:none" id="zac-infos-panel"> 
                <i class="fas fa-map-marker-alt"></i>
                <span id="zac-info">zac</span>
            </span>
        </span>
    </div>
    <!--GRAPH PANEL-->
    <div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
            <div class="panel panel-default no-border">
                <div class="panel-heading no-border" style="background-color:whitesmoke;">
                    <strong class="title-zone">Répartition des arrivées sur une journée</strong>
                    <br>
                    <small class="subText">Pour la journée et la zone sélectionnée</small>
                </div>
                <div id="noFilters" class="panel-body no-border text-center panelResult" style="background-color:whitesmoke;">
                    <i class="fas fa-map-marker-alt col-sl-12 emptyGraph"></i>
                    <br>
                    <h5 class="subText emptyGraph" style="margin-top:20px">Vous devez sélectionner tous les filtres pour afficher le graphique.</h5>
                    <!--CHART BAR-->
                    <canvas id="myChart" class="col-sm-12"></canvas>
                </div>
                <div id="zacResult" class="panel-body no-border text-center panelResult" style="background-color:whitesmoke; display:none;">
                    <i class="fas fa-map-marker-alt col-sl-12 emptyGraph"></i>
                    <br>
                    <h5 class="subText emptyGraph" style="margin-top:20px">Aucune ZAC ou aucune données pour cette ZAC.</h5>
                    <!--CHART BAR-->
                    <canvas id="myChart" class="col-sm-12"></canvas>
                </div>
                <div id="extentResult" class="panel-body no-border text-center panelResult" style="background-color:whitesmoke; display:none;">
                    <i class="fas fa-map-marker-alt col-sl-12 emptyGraph"></i>
                    <br>
                    <h5 class="subText emptyGraph" style="margin-top:20px">Aucune données sur la carte à utiliser.</h5>
                    <!--CHART BAR-->
                    <canvas id="myChart" class="col-sm-12"></canvas>
                </div>
                <div id="zoomMsg" class="panel-body no-border text-center panelResult" style="background-color:whitesmoke; display:none;">
                    <i class="fas fa-map-marker-alt col-sl-12 emptyGraph"></i>
                    <br>
                    <h5 class="subText emptyGraph" style="margin-top:20px">Veuillez zoomer sur la carte pour consulter les informations.</h5>
                    <!--CHART BAR-->
                    <canvas id="myChart" class="col-sm-12"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
            <div class="card-info col-sm-5">
                <span class="input-info">
                    <span id="input-number" class="input-number">45</span> personnes
                </span>
                <br>
                <span class="subText"> ont saisis leurs horaires</span>
                <br>
                <small class="subText">Pour la journée et la zone sélectionnée</small>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="card-info col-sm-5">
                <span class="input-info">
                    <span id="absent-number" class="input-number">3</span> personnes
                </h4>
                <br>
                <span class="subText"> sont en télétravail ou absentes</span>
                <br>
                <small class="subText">Pour la journée et la zone sélectionnée</small>
            </div>
        </div>
    </div>
</div>