<div id="form-modal" class="modal fade in" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content no-border form-modal-content">
            <div class="modal-body form-modal-body">
                <button type="button" class="close hidden" data-dismiss="modal">×</button>
                <div class="form-template col-sm-12">
                    <div class="col-sm-12 col-md-4 connect-zone" style="background-color:#353350">
                        <div class="row">
                            <h2 class="connect-title" style="margin-top:0px;">Connectez-vous</h2>
                            <span classe="row" style="margin-bottom: 10px;">
                                <h3>Connexion</h3>
                                <span class="connect-text">
                                    Pour enregistrer vos horaires, il est nécessaire de s'identifier. 
                                    Vous avez déjà renseignez vos horaires et vous souhaitez les modifier, 
                                    connctez-vous avec le code envoyé par mail.
                                </span>
                            </span>
                            <span classe="row">
                                <h4>Adresse mail</h4>
                                <input type="text" placeholder="email@mail.com" class="form-control" name="email-form" id="email-form">
                            </span>
                            <span classe="row">
                                <h4>Code</h4>
                                <input type="text" placeholder="*******" class="form-control" name="code-form" id="code-form">
                            </span>
                            <div class="row">
                                <button type="btn" class="btn btn-default btn-connect no-border">S'identifier</button>
                                <span class="link-code"> Code oublié ?</span>
                            </div>
                            
                        </div>
                        <div class="row">
                            <h3>1ère connexion</h3>
                            <span classe="col-sm-12">
                                <h4>Adresse mail</h4>
                                <input type="text" placeholder="email@mail.com" class="form-control" name="email-form" id="email-form">
                            </span>
                            <div class="row">
                                <button type="btn" class="btn btn-default btn-connect no-border">Obtenir le code</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <h3 class="normal-title" style="margin-top: 0px;">Saisissez vous horaires</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>