.btn-addon {  
  position: fixed;
  bottom: 15px;
  right: 50px;
  float: right;
  position: fixed;
  margin-bottom: 0;
	right:15px;
	padding-top:3px;
  z-index: 1;
  background-color: rgba(52,50,80,0.8) !important;
  box-shadow: 0px 1px 10px 0px rgba(220,170,20,0.8);
}
.btn-addon.btn-lg {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-addon.btn-xl {
  width: 70px;
  height: 70px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}